<% const url = 'https://sample.com' %>
<% const title = 'ES6記法 サンプル集' %>
<% const description = 'ES6の記法のサンプル集詰め合わせ' %>

<!doctype html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <title><%- title %></title>

  <meta name="description" content="<%- description %>">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta property="og:url" content="<%- url %>/">
  <meta property="og:title" content="<%- title %>">
  <meta property="og:description" content="<%- description %>">
  <meta property="og:site_name" content="<%- title %>">
  <meta property="og:image" content="<%- url %>/ogp.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%- title %>">
  <meta name="twitter:url" content="<%- url %>/">
  <meta name="twitter:description" content="<%- description %>">

  <link rel="manifest" href="manifest.json">

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <script src="/js/libs/plugins.js" defer></script>
  <script src="/js/common/common.js" defer></script>
</head>

<body>
<div class="l-wrapper">
  <%- include('./_ejs/header') %>

  <main class="l-main">

    <article class="p-article">
      <h2 class="p-article_ttl">変数宣言</h2>
      <div class="p-article_blc">
        <h3 class="p-article_sub">let/constによる変数宣言</h3>
        <p class="p-article_txt">ES2015では{}（ブロックスコープ）内でletやconstで宣言された変数はその中でのみ適用することができます。</p>
        <code class="p-article_code">
        let foo = 'a';<br>
        {<br>
        　let foo = 'b';<br>
        　console.log(foo);<br>
        　// 結果 b<br>
        }<br>
        console.log(foo);<br>
        // 結果 a
        </code>

        <p class="p-article_txt">constで宣言された場合は値の変更が不可となり中身の値が保証されます。</p>

        <code class="p-article_code">
        const foo = 'a';<br>
        foo = 'b';<br>
        // 上記のようなケースはエラーとなる
        </code>

      </div><!-- /.p-article_blc -->
    </article><!-- /.p-article -->


    <article class="p-article">
      <h2 class="p-article_ttl">文字列検索</h2>
      <div class="p-article_blc">
        <h3 class="p-article_sub">文字列検索メソッド一覧</h3>
        <p class="p-article_txt">前方一致/startsWith()、後方一致/endsWith()、文字列一致/includes()</p>
        <code class="p-article_code">
          const str = 'foo-bar'<br>
          str.startsWith('foo'); //結果 true 前から調べて一致するか<br>
          str.endsWith('bar'); //結果 true 後ろから調べて一致するか<br>
          str.includes('oo-b'); //結果 true 文字列を調べて一致するか<br>
        </code>

        <p class="p-article_txt">includes()に2つ目のパラメータを設定し検索開始位置をしていできる</p>
        <code class="p-article_code">
          const str = 'foo-bar'<br>
          str.includes('foo', str.indexOf('-')); //結果 false -から検索開始するため不一致になる<br>
        </code>

        <p class="p-article_txt">filterを使って配列の中身を文字列検索</p>
        <code class="p-article_code">
          const data = ['first-start','first-end','second-start','second-end','third-start','third-end']<br>
          <br>
          data.filter((d) => {
          　console.log(d.endsWith('-start'));<br>
          　//結果 一つ目から順に文字列検索を行うのでtrueとfalseが交互になる
          })
        </code>

      </div><!-- /.p-article_blc -->
    </article><!-- /.p-article -->



    <article class="p-article">
      <h2 class="p-article_ttl">文字列追加</h2>
      <div class="p-article_blc">
        <h3 class="p-article_sub">文字列追加方法</h3>
        <p class="p-article_txt">repeat/padStart/padEnd</p>
        <code class="p-article_code">
          const foo = 'text';<br>
          'ABC'.repeat(3) + foo;
          // 結果 ABCABCABCtext ABCを三回リピートする。
        </code>

        <p class="p-article_txt">repeatの使用例</p>
        <code class="p-article_code">
          const limit = 3;<br>
          let i = 0;<br>

          while(i &lt;= 100) {<br>
          　'No.' + '0'.repeat(limit - String(i).length) + i;<br>
          　i++;<br>
          }<br>
          // 結果 3桁に届かない場合左側に0を詰める。 001など
        </code>

        <p class="p-article_txt">padStart/padEndの使用例</p>
        <code class="p-article_code">
          'abc'.padStart(6, 'X')<br>
          // 結果 XXXabc

          'abc'.padEnd(6, 'X')<br>
          // 結果 abcXXX<br>
          <br>
          //repeatとの大きな違いは'abc'で三文字と捉え、繰り返す回数によってはabcaなどの半端な状態になる。
        </code>

      </div><!-- /.p-article_blc -->
    </article><!-- /.p-article -->


    <article class="p-article">
      <h2 class="p-article_ttl">テンプレートリテラル</h2>
      <div class="p-article_blc">
        <h3 class="p-article_sub">バッククォート</h3>
        <p class="p-article_txt">``で囲むことで複数行や展開を行うことができる</p>
        <code class="p-article_code">
          const data = '晴れ';<br>
          console.log(`今日は${data}だ`);<br>
          // 結果 今日は晴れだ
        </code>

        <p class="p-article_txt">タグ付きテンプレートリテラルのサンプル例解説</p>
        <code class="p-article_code">
          // 整数をカンマ区切りで表示するタグ<br>
          function commalizeTag(hashes, ...values) {<br>
          　console.log(hashes, ...values)<br>
          　// hashesに文字列部分が配列で格納 ...valuesに変数部分が格納<br>
          　// Array(3) [ "価格は", "円（税込", "円）です。" ] 2500 2700<br>
          　return values<br>
          　.map((value, index) => {return hashes[index] + commalize(value)})<br>
          　// 前から順に連結していく処理。その際に変数部分をcommalizeに渡し処理してカンマを付与<br>
          　.concat(hashes.slice(values.length))<br>
          　// 一番後ろの文字列を追加<br>
          　.join("");<br>
          　//配列を文字列に変更<br>
          　<br>
          //渡されてた値にカンマを付与して返す。<br>
          function commalize(number) {<br>
          　return number<br>
          　　.toString()<br>
          　　.replace(/(?!^)(?=(?:\d{3})+$)/g, ",");<br>
         　}<br>
          }<br>
          <br>
          const price = 2500;<br>
          const d = price * 1.08<br>
          <br>
          commalizeTag `価格は${price}円（税込${d}円）です。`; // 価格は2,500円（税込2,700円）です。
        </code>

      </div><!-- /.p-article_blc -->
    </article><!-- /.p-article -->


    <article class="p-article">
      <h2 class="p-article_ttl">配列メソッド</h2>
      <div class="p-article_blc">
        <h3 class="p-article_sub">新しい配列のメソッドサンプル</h3>
        <p class="p-article_txt">Array.from/Array.of/Array.prototype.fill/Array.prototype.includes</p>
        <code class="p-article_code">
          console.log(Array.from('foo'));<br>
          // 結果 Array ["f", "o", "o"]<br>
          <br>
          console.log(Array.from([1, 2, 3], (x) => {return x + x}));<br>
          // 結果 Array [2, 4, 6]
          <br>
          console.log(Array.from([1, 2, 3], (x) => {return x + 'です'}));<br>
          // 結果 Array ["1です", "2です", "3です"]
          <br>
          console.log(Array.of(1),Array.of(1,2));<br>
          console.log([1],[1,2]);<br>
          // 結果 Array [ 1 ], Array [ 1, 2 ] 下の方法で基本は問題ないがケースによって下では成立しない場合がある
          <br>
          console.log(new Array(3).fill(''))<br>
          console.log([ "", "", "" ])<br>
          // 結果 Array(3) [ "", "", "" ]<br>
          <br>
          const list = ['grid', 'block', 'flex', 'inline']<br>
          console.log(list.includes('grid')); // 結果 true<br>
          console.log(list.indexOf('grid')); // 結果 0<br>
          <br>
          const list = [0, 1, 2, 3];<br>
          console.log(list.find((data) => {return data >= 2})); // 結果 2<br>
          console.log(list.filter((data) => {return data >= 2})); // 結果 Array [ 2, 3 ]<br>
          // findとfilterの違い。<br>
          // find/マッチした時点で値を抽出し処理を終了する。<br>
          // filter/マッチするもの全てを抽出する。そのため配列分全てチェックする必要がある。
        </code>

        <p class="p-article_txt">同じタグ全てに対して処理するケース</p>
        <code class="p-article_code">
          Array.from(document.querySelectorAll('a')).map((x) => {<br>
          　処理を書く<br>
          })<br>
          // 対象全てをArray.fromで配列に変換。mapで配列全てに対して順に処理。<br>
          // ケースによってmap部分をfilter, find, map, reduceなどにして使うなど
        </code>

      </div><!-- /.p-article_blc -->
    </article><!-- /.p-article -->


    <article class="p-article">
      <h2 class="p-article_ttl">Object.assign</h2>
      <div class="p-article_blc">
        <h3 class="p-article_sub"></h3>
        <p class="p-article_txt"></p>
        <code class="p-article_code">
        </code>

      </div><!-- /.p-article_blc -->
    </article><!-- /.p-article -->

  </main><!-- /.l-main -->

  <%- include('./_ejs/footer') %>
</div><!-- /.l-wrapper -->

</body>

</html>
